#imageHome{
    height: 27mm;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}
#imageUser{
    height: 15mm;
}

#imageArrow{
    height: 50px;
}

#dropdown{
    margin-right: 70px;
}

#books{
    height: 120px;
}

.text{
    color: white;
    text-align: center;
    margin-right: 150px;
    margin-left: 50px;
    border: white;
    font-size: 20px;
}
#textUser{
    color: white;
    border: white;
    text-align: center;
    font-size: 23px;
    margin-top: 3%;
}

.textFavoriteReturn{
    color: white;
    text-align: left;
    color: white;
    font-size: 30px;
    margin-left: 3%;
    margin-right: 70%;

}
#textFavorite{
    color: white;
    text-align: left;
    color: white;
    font-size: 30px;
    margin-left: 3%;
    margin-right: 61%;
}

#navbar1{
        background-color: black;
}

.navbar2{
    margin-left: 15% !important;
    background-color: #1a1a1a !important;

}

body{
    background-color: black;
}



.partOne{
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important
}

.outLine{
    margin-top: 0;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #1a1a1a;
}

h1{
    font-size: 25px;
    color: white;
}

h2{
    color: white;
    font-size: 25px;
    margin-left: 3%;
}

.recording{
    height: 150px;
    margin-bottom: 12px;
}

.textRecording{
    margin-left: 0;
    margin-top: 5%;
    color: white;
    font-size: 23px;
}
.textRecording2{
    margin-left: 0;
    margin-top: 2%;
    color: white;
    font-size: 25px;
}

#text2{
    margin-top: 3%;
    color: white;
    font-size: 28px;
}

#void{
    padding: 33px;
}