* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    margin-top: 1.5rem;
    background-color: black;
}

.btn-dia{
    background-color: white;
}

.btn-noche{
    background-color: black;
}

.titulocolor-1{
    color: yellow;
}

.konrad {
    width: 300px!important;
    height: 250px!important
}

.col-md-3p {
    flex: 0 0 auto;
    width: 27%
}

.bg-recording {
    background-color: #1A1A1A!important;
    box-shadow: inset 0 0 0 3px #2D2B42!important;
    border-radius: 40px!important;
}

.pt-4p {
    padding-top: 1.1rem!important
}

.recording {
    color: #8FA6C7!important;
    font-family: "Garamond"!important;
    font-size: 100px!important
}

.form-control {
    border-color: black!important
}

.form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(70, 71, 71, 0.25)!important
}

.bg-textbox {
    background-color: #3D3D3D!important
}

.icono-usuario {
    background: url("../imagenes/Simbolo Usuario2.png") no-repeat left top, #3D3D3D!important;
    background-size: auto, auto!important;
    padding: 8px!important;
    background-size: 40px!important;
    padding-left: 40px!important
}

.icono-contraseña {
    background: url("../imagenes/Simbolo Contraseña.png") no-repeat left top, #3D3D3D!important;
    background-size: auto, auto!important;
    padding: 8px!important;
    background-size: 40px!important;
    padding-left: 40px!important
}

.imgp {
    width: 10px!important;
    height: 10px!important
}

.white {
    color: white!important
}

.btn-black {
    background-color: #2E2E2E!important;
    border: inset 2px black!important;
    color: white!important
}

.btn-black:hover {
    background-color: rgb(89, 88, 90)!important;
    box-shadow: 0 0 10px 2px rgb(56, 54, 54)!important
}

.font-recover {
    color: #A9C4EB!important;
    font-size: 20px;
    font-family: serif!important
}

.titulo-izquierdo {
    color: #CCE5FF!important;
    font-family: "Garamond"!important;
    font-size: 35px!important
}

.nom-materia {
    color: #CCE5FF!important;
    font-family: "Garamond"!important;
    font-size: 28px!important
}

.fecha-publicacion {
    color: #CCE5FF!important;
    font-family: "Garamond"!important;
    font-size: 24px!important
}

.btn-favoritos {
    color: #CCE5FF!important;
    font-family: "Garamond"!important;
    font-size: 30px!important
}

@media(max-width: 1570px){
    .titulo-izquierdo {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 30px!important
    }
    .nom-materia {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 28px!important;
        margin-left: 15px !important
    }
    
    .fecha-publicacion {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 24px!important;
        margin-left: 15px !important
    }
}

@media(max-width: 1476px){
    .titulo-izquierdo {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 30px!important
    }
    .nom-materia {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 28px!important;
        margin-left: 30px !important
    }
    
    .fecha-publicacion {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 24px!important;
        margin-left: 30px !important
    }
}
@media(max-width: 1291px){
    .titulo-izquierdo {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 25px!important
    }
    .nom-materia {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 20px!important;
        margin-left: 50px !important
    }
    
    .fecha-publicacion {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 20px!important;
        margin-left: 50px !important
    }
}

@media(max-width: 1105px){
    .titulo-izquierdo {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 20px!important
    }
    .nom-materia {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 18px!important;
        margin-left: 70px !important
    }
    
    .fecha-publicacion {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 18px!important;
        margin-left: 70px !important
    }
}

@media(max-width: 965px){
    .nom-materia {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 14px!important;
        margin-left: 34px !important;
        margin-top: 40px;
    }
    
    .fecha-publicacion {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 14px!important;
        margin-left: 34px !important;

    }
}

@media(max-width: 850px){
    .titulo-izquierdo {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 17px!important
    }
    .nom-materia {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 12px!important;
        margin-left: 50px !important;
        margin-top: 40px;
    }
    
    .fecha-publicacion {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 12px!important;
        margin-left: 50px !important
    }
}
@media(max-width: 767px){
    .titulo-izquierdo {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 35px!important
    }
    
    .nom-materia {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 28px!important;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 35% !important
    }
    
    .fecha-publicacion {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 24px!important;
        margin-top: 0;
        margin-left: 35% !important

    }
}
@media(max-width: 649px){

    .nom-materia {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 28px!important;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 30% !important
    }
    
    .fecha-publicacion {
        color: #CCE5FF!important;
        font-family: "Garamond"!important;
        font-size: 24px!important;
        margin-top: 0;
        margin-left: 30% !important

    }
}
